.mainCt {
  width: 40%;
  height: 100%;
  background-color: var(--bg-white);
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deviceTab {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.deviceTabInner {
  padding: 5px;
  background-color: var(--bg-primary);
  border-radius: 9px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.device {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.5s;
}

.activeDeviceTab {
  background-color: var(--bg-white);
  color: var(--text-primary);
  font-weight: 600;
}
