.mainCt {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  font-family: var(--font-family);
  padding: 10px;
}

.sectionCt {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionHead {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  font-size: 22px;
  font-weight: 600;
  padding: 5px 15px;
  background-color: #fff;
  border-radius: 6px;
  width: fit-content;
  border-bottom: 4px solid var(--border-secondary);
}

.sectionHr {
  flex: 1;
  height: 1.5px;
  background: var(--border-primary);
  margin: 2.5px;
}

.toolsGrid {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.toolCt {
  text-decoration: none;
  color: var(--text-black);
  height: fit-content;
  width: 150px;
  min-height: 120px;
  background-color: var(--bg-white);
  padding: 10px 15px;
  border: 1px solid #151515;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s;
  cursor: pointer;
  /* box-shadow: 6px 8px 0px 0px #00000094; */
}

.toolCt:hover {
  box-shadow: 6px 8px 0px 0px var(--text-primary);
  /* color: var(--text-primary); */
}

.toolImg {
  width: 35px;
  height: 35px;
}

.toolName {
  flex: 1;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
